<div class="wrapper">
	<!-- Quebra de template  -->
	<otk-header></otk-header>

  <div class="content-wrapper">
    <div class="container">

			<!-- Quebra de template  -->
			<router-outlet></router-outlet>

    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
      </div>
      <strong>Copyright &copy; 2019 <a href="https://github.com/GabJango/Otaku-Store/wiki">Dena Studios</a>.</strong> All rights
      reserved.
    </div>
    <!-- /.container -->
  </footer>
</div>
<!-- ./wrapper -->
